# Copyright (c) 2020 Jefferson Lee.
# SPDX-License-Identifier: Apache-2.0
config BOARD_MY_BOARD_SCRATCH
	#select BOARD_EARLY_INIT_HOOK
	#select USB_DEVICE_STACK
	#select GPIO
	#select SERIAL
	#select UART_CONSOLE
	#select SERIAL_HAS_DRIVER
	#select CONSOLE	
	if BOARD_MY_BOARD_SCRATCH
		#config REGULATOR
		#	default y if SENSOR
	endif # BOARD_MY_BOARD_SCRATCH
