# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y
#CONFIG_HW_STACK_PROTECTION=y

# enable peripherals
#CONFIG_GPIO=y
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_PRINTK=y

#enable usb cdc-acm for USB CDC-ACM virtual serial port
#The Arduino Nano 33 BLE Sense does not have a USB-to-UART bridge chip. 
#The physical uart0 pins (D0/D1) are exposed only on the header — you'd need a separate USB-UART adapter 
#wired to those pins to read them.
#When you plug in via the USB cable (which everyone does), you're connected to the nRF52840's native USB, 
#which needs to be configured as a USB CDC-ACM virtual serial port. That's the cdc_acm_uart0 device, not uart0. 
#Your printk() output is being sent to uart0 and going nowhere.

#CONFIG_USB_DEVICE_STACK=y
#CONFIG_USB_CDC_ACM=y
#CONFIG_UART_LINE_CTRL=y
#CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=y

# enable sam-ba bootloader on legacy mode
CONFIG_BOOTLOADER_BOSSA=y
#CONFIG_BOOTLOADER_BOSSA_LEGACY=y