# Copyright (c) 2020 Jefferson Lee.
# SPDX-License-Identifier: Apache-2.0

if BOARD_MY_BOARD

	config REGULATOR
		default y if SENSOR

	#if BOOTLOADER_MCUBOOT
		#choice MCUBOOT_BOOTLOADER_MODE
		#	default MCUBOOT_BOOTLOADER_MODE_OVERWRITE_ONLY
		#endchoice
	#endif # BOOTLOADER_MCUBOOT	

endif # BOARD_MY_BOARD
