//This is the device tree node for a simple led driver
/ {
    our_driver0:our_driver{
        compatible = "our,driver";
        status = "okay"; // other value as "disabled"
    };
};
//    aliases{
//        app-led = &led2; //alias app_led pointing to red LED aka &led0 GPIO0 pin 24 on the nano33 board
//    };

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};