
#------------first example-------------------------#

#config BLINK_SLEEP_TIME_MS
#        int "LED prompt"
#        default 1000
#        range 100 5000
#        help
#            help string for user can be multiline
#            like this!! This is just a demo

#source "Kconfig.zephyr"


#---------second example----------------------------#

#choice 
#    prompt "LED Blink Speed"
#    default BLINK_SLEEP_TIME_1000MS
#config BLINK_SLEEP_TIME_250MS
#    bool "Fast (250ms)"
#config BLINK_SLEEP_TIME_1000MS
#    bool "Medium (1s)"
#config BLINK_SLEEP_TIME_2000MS
#    bool "Slow (2s)"    
#
#endchoice

#config BLINK_SLEEP_TIME_MS
#        int 
#        default 250 if BLINK_SLEEP_TIME_250MS
#        default 1000 if BLINK_SLEEP_TIME_1000MS
#        default 2000 if BLINK_SLEEP_TIME_2000MS
#        default 0
#source "Kconfig.zephyr"


#------------Homework l3-task1 -------------------------#

menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"
    default y

    if LED_SUBSYSTEM
        choice 
            prompt "LED Blink sleep time"
            default BLINK_SLEEP_TIME_1000MS
            config BLINK_SLEEP_TIME_250MS
            bool "Very Fast (250ms)"
            config BLINK_SLEEP_TIME_500MS
            bool "Fast (500ms)"
            config BLINK_SLEEP_TIME_1000MS
            bool "Medium (1s)"
            config BLINK_SLEEP_TIME_2000MS
            bool "Slow (2s)"    

        endchoice
        config BLINK_SLEEP_TIME_MS
            int 
            default 250 if BLINK_SLEEP_TIME_250MS
            default 500 if BLINK_SLEEP_TIME_500MS
            default 1000 if BLINK_SLEEP_TIME_1000MS
            default 2000 if BLINK_SLEEP_TIME_2000MS
            default 0 #okay
   
        menuconfig ADVANCED_LED_SETTINGS
            bool "Advanced LED settings"
            default y

            if ADVANCED_LED_SETTINGS
                config LED_BRIGHTNESS
                    int "LED brightness(0-100)"
                    range 0 100
                    default 100
                config LED_FADE_DURATION
                    int "LED fade duration(ms)"
                    range 0 5000
                    default 500
                
                menu "EXPERT_SETTINGS" 
                    visible if LED_BRIGHTNESS!=0
                    config LED_DEBUG
                        bool "Enable LED debugging"
                        default y
                    config CUSTOM_LED_BLINK_PATTERN
                        bool "Enable custom blink pattern"
                        default y
                endmenu
            endif #AdvancedLEDsettings
     endif #LEDSUBSYSTEM

source "Kconfig.zephyr"