/* Practicing with node labels
/{
    leds{
        blue_led: led5{
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
        };
        green_led: led6{
            gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
        };
        red_led: led7{
            gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
        };

    };
};

*/